<div class="hero">
  <div class="requests-holder">
    <!-- <app-requests></app-requests> -->
    <app-request-clicked></app-request-clicked>
    <main>
      <div *ngIf="appointment.result">
      <div class="appointment" *ngFor="let item of appointment.result">
        <h1>Appointments</h1><!-- -------------------------------------------------- -->
        <div class="infoholder mt-3">
          <p class="mb-3">{{item.date}}</p>
          <p class="mb-3">{{item.time}}</p>
          <div class="btn-group"> 
           <button class="btn btn-danger" #data="ngModel" [(ngModel)]="item.id" (click)="approveAppointment(data)">Approve</button>
          </div>
        </div><!-- ---------------------------------------------------------- -->
      </div>
      </div>
      <div>
      <div class="booking" *ngIf="booking.result">
        <h1>Booking</h1><!-- -------------------------------------------------------------------- -->
        <div class="infoholder mt-3" *ngFor="let item of booking.result">
          <h3>{{item.quantity}}</h3>
          <p>{{item.date}}</p>
        </div><!-- -------------------------------------------------------------------- -->
      </div>
      </div>
    </main>
  </div>
</div>
